<section>
	<table>
<h1>
	Home
</h1>	
<p><%= link_to "New Post", new_post_path %></p>

<hr />

<div class="apple_pagination">
<%= will_paginate %>
</div>
<% for post in @posts %>

	<div class="post">
		
		<h2><%= link_to post.title, post%></h2>
		
		<p class="content">			
			<%= post.content.html_safe %>
			<br /><br />
			<%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
		</p>
		
	</div>	

<% end %>
</table>
</section>